{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <style>
        body{
            color: white;
            background-attachment:fixed;
            background-image: url("Image/fond2.jpg");
            background-size: cover;
            background-position: center;
        }

        .contenu{
            position: relative;
            top: 150px;
            left: 30%;
            width: 40%;
            text-align: center;
        }

        img{
            left:2%;
            width: 150px;
        }
    </style>

    <div class="contenu">
        <h1>Bienvenue sur mon site </h1>
        <p>Veillez bien vous connecter pour accéder au site</p>
        <img src="Image/imageMoi.jpeg">
    </div>
{% endblock %}